.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 500px;
        min-height: 100px;
        background: #fff;
        position: relative;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 5px 10px 25px 10px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
            border-bottom: 1px solid #E8E8E8;

            h3 {
                font-weight: 500;
                font-size: 20px;
                color: #1766DC;
            }
        }

        &__close-button {
            position: absolute;
            background: black;
            top: 10px;
            right: 10px;

            width: 30px;
            height: 30px;
            border: none;
            background: none;
            cursor: pointer;
            transition: 0.3 ease all;
            border-radius: 5px;
            color: #1766DC;

            &:hover {
                background: #f2f2f2;
            }
        }
    }
}